<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue-todolist</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
</head>
<body>
    <div class="header"> <h1>Vue.js-todolist</h1> </div>
    <div id="app">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">待辦事項</span>
          </div>
          <input type="text" class="form-control" placeholder="準備要做的任務" v-model="newTodo" @keyup.enter="addTodo">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button" @click="addTodo">新增</button>
          </div>
        </div>
        <div class="card text-center">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a class="nav-link" :class="{active: visibility=='all'}" 
                @click="visibility='all'" href="javascript:;">全部</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " :class="{active: visibility=='active'}" @click="visibility='active'" href="javascript:;">進行中</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" :class="{active: visibility=='completed'}" @click="visibility='completed'" href="javascript:;">已完成</a>
              </li>
            </ul>
          </div>
          <ul class="list-group list-group-flush text-left">
            <li class="list-group-item" v-for="(item , key) in filteredTodos"
             @dblclick="editTodo(item)">
              <div class="d-flex" v-if="item.id !==catchTodo.id">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" v-model="item.completed" :id="item.id">
                  <label class="form-check-label" :for="item.id"
                  :class="{'completed': item.completed}"
                  >
                    {{item.title}}
                  </label>
                </div>
                <button type="button" class="close ml-auto" aria-label="Close" 
                @click="removeTodo(item)">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <input type="text" class="form-control" v-if="item.id ===catchTodo.id"
              v-model="catchTitle"
              @keyup.esc="cancelEdit()"
              @keyup.enter="doneEdit(item)"
              >
      
            </li>
          </ul>
          <div class="card-footer d-flex justify-content-between">
            <span>還有{{uncompleted}}筆任務未完成</span>
            <a href="javascript:;" @click.prevent="DeAll">清除所有任務</a>
          </div>
        </div>
      </div>
      
      <script>
      var app = new Vue({
        el: '#app',
        data: {
            newTodo:'',
            todos:[{
              id:'777',
              title:'Hello',
              completed: false,
            }],
            catchTodo:{},
            catchTitle:'',
            visibility:'all',
      
        },
        methods: {
          addTodo: function(){
              let value =this.newTodo.trim();
              let timestamp = Math.floor(Date.now());
             // console.log(value , timestamp);
             if(!value){ //如果是空白就中斷
               return;
             }
             this.todos.push({
               id:timestamp,
               title:value,
               completed:false,
             })
             this.newTodo = '';
          },
          removeTodo: function(todo){
           // let newIndex = '';
            vm=this;
            let newIndex = vm.todos.findIndex(function(item,key){
              return todo.id == item.id ;
            })
              this.todos.splice(newIndex,1);
          },
          editTodo: function(item){
              this.catchTodo = item;
              this.catchTitle = item.title;
          },
          cancelEdit: function(){
            this.catchTodo={};
          },
          doneEdit: function(item){
            item.title =  this.catchTitle;
            this.catchTitle = '';
            this.catchTodo={};
      
          },
          DeAll: function(){
      
            this.todos = [];
          }
         
        },
        computed: {
          filteredTodos:function(){
            if(this.visibility == 'all')
            {
            return this.todos;
            }else if(this.visibility == 'active'){
              let newTodos =[];
              this.todos.forEach(function(item){
                if(item.completed ==false){
                  newTodos.push(item);
                }
              })
              return newTodos;
            }else if(this.visibility == 'completed'){
              let newTodos =[];
              this.todos.forEach(function(item){
                if(item.completed ==true){
                  newTodos.push(item);
                }
              })
              return newTodos;
            }     
          },
          uncompleted:function(){
            let unTodos = this.todos.filter(function(item){
             return item.completed == false;
            });
            //console.log(unTodos);
            return unTodos.length;    
          }
        },
      });
      </script>
      
      <style>
      .completed {
        text-decoration: line-through
      }

      .header{
          margin: 20px;
          text-align: center;
          border-bottom: 2px solid #ccc;
      }
      </style>
</body>
</html>